#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSUifKcDxehh7q9Wn9FZVxKuZsKm1-HyJO2sw&s");
}
